:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  --text-primary: #E0E0E0;
  --text-secondary: #BDBDBD;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --light-grey: #424242;
  --accent-color--primary: #6649b8;
  --dark-blue-accent: #3445b5;
  --bold-blue: #3850ec;
  --transition-speed: 400ms;
}


html,body {
  padding: 0;
  margin: 0;
  background-color: var(--bg-primary);
  height: 100vh;
}

/* Changing scrollbar */
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

body::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}


main {
  height: 100%;
  margin-left: 5rem;
  padding: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: var(--text-primary);
  text-decoration: underline;
  margin: 1.5rem;

}

@media only screen and (min-width: 600px) {
  
.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 200ms ease;
}

.navbarList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbarItem, .navbarLogoItem {
  width: 100%;
}

.navbarItem:last-child {
  margin-top: auto;
}

.navLink, .navLinkLogo {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: var(--text-secondary);
}

.navLinkLogo {
  justify-content: flex-end;
}

.logoText {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--text-secondary);
}

.navLink:hover {
  color: var(--bold-blue);
}

.linkText {
  display: none;
  margin-left: 1rem;
  font-weight: bold;
}

.navLinkIcons, .navLinkIconsLogo {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navLinkIconsLogo {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbar:hover .navLinkIconsLogo {
  transform: rotate(-180deg);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .linkText {
  display: block;
}


}


@media only screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0px;
    background-color: var(--bg-secondary);
    transition: width 200ms ease;
 }

 .navbarList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
 }

 .linkText {
  display: none;
 }

 .navbarItem {
  width: 100%;
}
.navLink, .navLinkLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  text-decoration: none;
  color: var(--text-secondary);
}

  main {
    margin-top: 5rem;
    margin-left: 0;
  }

  .navbarLogoItem {
    display: none;
  }

}