 .container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--dark-blue-accent);
  border-radius: 1rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 1300px) {

  .container {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1.5rem;
    background-color: var(--dark-blue-accent);
    border-radius: 1rem;
    margin: 0.5rem;
}


  .skillsList {
    flex-direction: column;
  }

  .skillsList span {
    margin: 0.25rem;
  }

}


 .technicalSkills {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--dark-blue-accent);
  border-radius: 1rem;
  margin: 0.5rem;
}

.profilePic {
  object-fit: cover;
  border-radius: 50%;
}

.introText > * {
  color: var(--text-primary);
}

.introText h3, .sectionHeader {
  font-size: 2.2rem;
  margin-bottom: 0.25rem;
  color: var(--text-primary);
}

.sectionHeader {
  text-decoration: underline;
}

.introText h5 {
  font-size: 1rem;
  font-weight: 600;
  font-style: italic;
}

.introText p {
  font-size: 1rem;
  overflow-wrap: break-word;
  letter-spacing: 0.04rem;
}

.technicalSkills {
  flex-direction: column;
  margin-top: 2.5rem;
}

.skillsList {
  gap: 0.25rem;
  display: flex;
  justify-content: center;
}


.skillsList span {
  font-size: 0.9rem;
  letter-spacing: 0.05ch;
  display: flex;
  padding: 1rem;
  min-width: 25%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  color: black;
  border: 2px solid black;
}

#javaScript {
  background-color:  #F0DB4F;
}

#react {
  background-color: #7cc5d9;
}

#java {
  background-color: #f89820;
}

#python {
  color: var(--text-primary);
  background-color: #306998;
  
}

#C {
  color: var(--text-primary);
  background-color: #276DC2;
}